
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*scroll or the website smooth*/
html{
    scroll-behavior: smooth;
}

.navbar{
    background: #354649;
    padding: 1rem 8rem;
    z-index: 1000;

}
.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}

/*
how to select the elements in the navbar (all 4 because of n)
 */

/*sign in / register button*/
#navbarSupportedContent > ul > li:nth-child(n) > a
{
    color: #E0E7E9;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:active{

    color: #A3C6C4 ;
}
#navbarSupportedContent > a > button{
    background: #E0E7E9  ;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    border-color: #E0E7E9;
    margin-left: 40px;


}
#navbarSupportedContent > a > button:hover{
    background: #A3C6C4;
    border-color: #E0E7E9;
}
/*setting dropdown colors and positioning*/
#dropdownMenuButton{

    margin-left: 10px;
    border: none;
    color: #E0E7E9;
}
.fa-cog{
    color: #E0E7E9;
}
#inputGroupSelect01{
    padding:2px;
}

/*mid section video*/
.mid{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.mid video{
    width: 100%;
    height: 110%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mid .hero{
    position: relative;
}

.mid .hero p{
    width: 55%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding-bottom: 1rem;
}

.mid .hero a{
    background: #A3C6C4  ;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
}

.mid .hero a:hover{
    background: #E0E7E9;
}

/*about us - text color, size and positioning*/
.about{
    background: #E0E7E9;
}

.about .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.about .text h2{
    color: #6C7A89;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 1px;
}

#aboutDescription{
    color: #354649;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
}


#calculcatorReference{
    color: #354649;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
}


.service{
    background: #354649;
}

.service .one{
    background: #E0E7E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 7px;
}

body > footer{
    background: #354649!important;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border: none;
}

body > footer .container{
    color: #E0E7E9;
}

@media screen and (max-width: 988px) {
    .navbar{
        padding: 1rem 8rem;
    }

    #navbarSupportedContent > ul{
        padding-left: 0.8rem;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding:0.8rem 0rem;
    }

    .mid .hero h2{
        font-size: 2.5rem;
    }

    .mid .hero p{
        font-size: 1.1rem;
    }

    .mid .hero a{
        font-size: 0.9rem;
    }
}

/*progress bar colors, width and padding in-between*/
#progressBar{
    background: #354649;
    height: 90vh;
}
#progressBar > div:nth-child(n) > div.progress{
    margin-left: 80px;
    margin-right: 80px;
}
#progressBar > div:nth-child(1){
color: #E0E7E9;
    padding-top: 100px;
}
#progressBar > div:nth-child(2),#progressBar > div:nth-child(3) {
    color: #E0E7E9;
    margin-top: 100px;
}
#progressBar > div:nth-child(3){
    padding-bottom: 100px;
}
#progressBar > div:nth-child(n) > div.progress > b > h7{
    color: #354649;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

/*footer*/
.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: cornflowerblue;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-linkedin-in {
    color: #517fa8;
}
.fa-facebook:hover ,.fa-twitter:hover,.fa-google-plus-g:hover,.fa-linkedin-in:hover{
    transform: scale(1.1);
}
/*footer*/
#generateCalendar{
    background: #354649  ;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    border-color: #E0E7E9;
    color: #E0E7E9;
    margin-top: 400px;
}
#generateCalendar:hover{
    background: #A3C6C4;
    color: #354649;
}
#studyCalculator{
    background-color: #E0E7E9;
}
/*hr separation*/
#seperation{
    color: #E0E7E9;

    margin-bottom: 10px;
}