
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body > section > div > div > div > div > div > div > div.col-md-10.col-lg-6.col-xl-5.order-2.order-lg-1 > form > div.d-flex.justify-content-center.mx-4.mb-3.mb-lg-4 > button{
    background: #A3C6C4;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    border-color: #A3C6C4 ;
    color: #354649;
}

body > section > div > div > div > div > div > div > div.col-md-10.col-lg-6.col-xl-5.order-2.order-lg-1 > form > div.d-flex.justify-content-center.mx-4.mb-3.mb-lg-4 > button:hover{
    background: #354649 ;
    border-color: #354649 ;
    color:#E0E7E9;
}


