@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600');
/*                  side bar*/
/*{*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: white;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    padding-top: 150px;
    width: 200px;
    height: 100%;
    background: #354649;
    /*padding: 30px 0px;*/
    position: fixed;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
    color: white;
    display: block;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;

}
/*color of the hover of navbar elements*/
.wrapper .sidebar ul li:hover{
    background-color: green;
}

.wrapper .main_content{
    /*height: 30%;*/
    width: 100%;
    margin-left: 300px;
    padding-top: 6rem;
}

section .main_content_interView {
    width: 100%;
    margin-left: 300px;
    padding-top: 6rem;
}
section .main_content_dataStructures{
    width: 100%;
    margin-left: 300px;
    padding-top: 6rem;
}
.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div{
    margin-bottom: 20px;
}



/*text of the dropdown buttons*/
.wrapper .dropdown a{
    color: black;

}
/*for the dropdown elements colors*/
.wrapper .sidebar .dropdown-menu{
    background: #111111;
}

body > div.wrapper > div.sidebar > ul > div:nth-child(n) > ul > li:nth-child(n) > a:hover{
    background: none;
}
.wrapper .sidebar .carousel-control-prev{
margin:auto}


html {
    scroll-behavior: smooth;
}

.navbar {
    background: #222;
    padding: 1rem 8rem;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
}

/*renders the elements into an array to select all the elements in the navbar
*/
#navbarSupportedContent > ul > li:nth-child(n) > a {
    color: white;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:hover:active {
    color: cadetblue;
}

#navbarSupportedContent > button {
    background: darkcyan;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}

body > footer {
    background: #111111 !important;
}

body > footer > ul.list-unstyled.list-inline.text-center.py-2 > li:nth-child(2) > a {
    background: darkcyan;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
    border: none;
}

@media screen and(max-width: 988px) {
    .navbar {
        padding: 1rem;
    }

    #navbarSupportedContent > ul {
        padding-left: 0.8rem;

    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 0.8rem;
    }

    .mid .hero h2 {
        width: 55%;
        font-size: 2.5rem;
        letter-spacing: 0.2px;
        padding-bottom: 1.1rem;
    }

    .mid .hero p {
        font-size: 1.1rem;
    }

    .mid .hero a {
        font-size: 0.9rem;
        background: darkcyan;
        font-weight: 600;
        padding: 0.6rem 1rem;
        border-radius: 30px;
        text-decoration: none;
    }
}
/*.carousel .item img {*/
/*    left: -9999px;  !*important *!*/
/*    right: -9999px;  !*important *!*/
/*    margin: 0 auto;  !*important *!*/
/*    max-width: none;  !*important *!*/
/*    min-width: 100%;*/
/*    position: absolute;*/
/*}*/

/*0 0 0 32*/